.cart-container {
  display: flex;
  justify-content: center;
}

.cart-content-container {
  display: flex;
  flex-direction: column;
  width: 90%;
  max-width: 1110px;
}

@media screen and (min-width: 768px) {
  .cart-content-container {
    width: 80%;
    max-width: 1110px;
  }
}

.cart-heading {
  color: #3e4c59;
  font-family: 'Roboto';
  font-size: 24px;
  font-weight: 700;
}

@media screen and (min-width: 768px) {
  .cart-heading {
    font-size: 48px;
  }
}

.remove-all-btn {
  display: flex;
  align-self: flex-end;
  color: #0b69ff;
  background: transparent;
  font-family: 'Roboto';
  font-size: 18px;
  font-weight: 500;
  line-height: 1.5;
  border: none;
  outline: none;
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .remove-all-btn {
    font-size: 16px;
  }
}

.cart-empty-view-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: center;
}

.cart-empty-img {
  width: 180px;
  height: 190px;
}

@media screen and (min-width: 768px) {
  .cart-empty-img {
    width: 360px;
    height: 380px;
  }
}

.cart-empty-heading {
  color: #1e293b;
  font-family: 'Roboto';
  font-size: 24px;
  font-weight: 500;
}

@media screen and (min-width: 768px) {
  .cart-empty-heading {
    font-size: 32px;
  }
}

.cart-list {
  padding-left: 0px;
}
